<?xml version="1.0" encoding="UTF-8"?>
<!--
    Run tests from project root:
    vendor/bin/phpunit - -bootstrap vendor/autoload.php _dev/silverstripe-waf/tests/

    Or from module directory (if installed standalone):
    vendor/bin/phpunit
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="WAF Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
